/*
디자인 우선 순위
4.TAG 3.Class 2.id 1.style
TAG(일반화 속성) -> Class -> id 순으로 고려하기
*/

.container{
  border: 1px solid skyblue;
}

.blog-nav{
  position: fixed;
}

.nav-item{
  color: white;
}

.header-title{
  color: white;
  padding: 200px 0 150px;
  text-align: center;
}

.masthead{
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: $gray-light;
  background-attachment: scroll;
}
